@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #121212;
}
.main::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #121212;
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background-color: #1b1b1b;
  /* Set a contrasting color for the track */
}

* {
  scrollbar-color: #121212 #f0f0f0 !important;
  scrollbar-width: thin !important;
}
